@import "../global.css";

/* Footer */
@import "../footer.css";

.register-container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f2ea;
}

.register-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register-form h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-btn {
    width: 100%;
    padding: 15px;
    background-color: #dd2803;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.register-btn:hover {
    background-color: #bf2402;
}

.register-form p {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.register-form p a {
    color: #dd2803;
    text-decoration: none;
}

.register-form p a:hover {
    text-decoration: underline;
}

