* {
  font-family: Arial;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1180px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
}
.logo a {
  text-decoration: none;
  color: #000;
}

.menu {
  display: flex;
  align-items: center;
}
nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
}

nav a {
  margin: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

nav .active a,
nav a:hover {
  color: #dd2803;
}

.container_burguer {
  height: 840px;
  width: 100%;
  background-color: #fbe690;
  display: flex;
}

.container_headline {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container_headline h3 {
  color: #000;
  font-size: 40px;
  margin-top: 95px;
  margin-left: 80px;
}
.container_headline h1 {
  color: #dd2803;
  margin-top: 275px;
  margin: 80px;
  font-size: 90px;
}

.container_services {
  background-color: #f9f2ea;
  height: 860px;
}

.image {
  overflow: visible;
  margin-right: 100px;
}

.image img {
  transform: scale(1.5);
}

.container_services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.atendimento,
.entrega,
.espaço {
  width: 360px;
  height: 450px;
  border: 1px solid #000;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.atendimento p,
.entrega p,
.espaço p {
  text-align: center;
  margin-top: 40px;
  font-size: 23px;
}
.atendimento img,
.entrega img,
.espaço img {
  height: 148px;
  margin: 40px;
}

.title_services {
  width: 100%;
  text-align: center;
}

.title_services h1 {
  font-size: 90px;
  color: #dd2803;
}
.destaques {
  height: 860px;
  background-color: #f9f2ea;
  display: flex;
  justify-content: center;
}

.destaques_area {
  width: 1245px;
  height: 714px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.title_destaques {
  width: auto;
  height: 66px;
  display: flex;
  margin-top: 30px;
}

.title_destaques h1 {
  font-size: 60px;
  overflow-y: hidden;
  margin-right: 50px;
  margin-left: 50px;
}

.images_destaques {
  overflow-y: hidden;
  height: 371px;
  display: flex;
}

.aneis,
.batatas,
.hamburguer {
  width: 360px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aneis img,
.batatas img,
.hamburguer img {
  height: 329px;
  width: 337px;
}

.images_destaques h1{
  font-size: 16px;
  margin-top: 20px;
}


.button button{
  padding: 20px 60px;
  background-color: #dd2803;
  border: none;
}

.button button a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.contatos{
  height: 340px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contatos_area {
  display: flex; 
  justify-content: space-between; 
  gap: 100px; 
}

.contatos_info p,
.horarios_info p {
  margin: 10px;
  padding: 10px; 
}

.contatos_info h2, h3{
  margin-left: 20px;
  margin-top: 10px;
}

.contatos_info img{
  margin-left: 20px;
}

.horarios_info h2 {
  margin-left: 20px;
}


.footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  color: #fff;
  background-color: #dd2803;
}

.footer_info .top {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.footer_info .top p {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.footer_info .bottom {
  text-align: center;
  margin-bottom: 10px;
}
