
.destaques {
    height: 860px;
    background-color: #f9f2ea;
    display: flex;
    justify-content: center;
  }
  
  .destaques_area {
    width: 1245px;
    height: 714px;
    background-color: #fff;
    flex-wrap: wrap;
    text-align: center; 
  }
  .title_destaques {
    width: auto;
    height: 66px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .title_destaques h1 {
    font-size: 60px;
    overflow-y: hidden;
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .images_destaques {
    overflow-y: hidden;
    height: 371px;
    display: flex;
    justify-content: space-around; 
    width: 100%; 
  }
  
  .aneis,
  .batatas,
  .hamburguer {
    width: 360px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aneis img,
  .batatas img,
  .hamburguer img {
    height: 329px;
    width: 337px;
  }
  
  .images_destaques h1{
    font-size: 16px;
    margin-top: 20px;
  }
  
  
  .button {
    width: 100%;
    margin-top: 60px; 
  }
  
  .button a{
    display: inline-block; 
    padding: 20px;
    background-color: #dd2803;
    border: none;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px; 
  }
  